+
#bigTitleWrapper {
    -fx-background-color: transparent;
}

#menuTitle {
    -fx-border-color: #606060;
    -fx-border-width: 0px;
    -fx-background-color: transparent;
    -fx-text-fill: #d8d8d8;
    -fx-font-family: "DIN Alternate";
    -fx-font-size: 14px;
    -fx-pref-height: 15px;
    -fx-pref-width: 268px;
}

#threeButtonContainer {
    -fx-pref-width: 602px;
    -fx-min-width: 602px;
    -fx-spacing: 15px;
}

#twoButtonContainer {
    -fx-spacing: 10px;
}

#fistRow {
    -fx-spacing: 10px;
}

#twoButtonContainer.button {
    -fx-pref-height: 44px;
    -fx-min-height: 44px;
    -fx-max-height: 44px;
    -fx-pref-width: 129px;
    -fx-min-width: 129px;
    -fx-max-width: 129px;
}

#threeButtonContainer .button {
    -fx-min-width: 191px;
    -fx-pref-width: 191px;
    -fx-min-height: 44px;
    -fx-pref-height: 44px;
}

#menuWrapper {
    -fx-pref-width: 634px;
    -fx-min-width: 634px;
    -fx-max-width: 634px;
    -fx-pref-height: 608px;
    -fx-max-height: 608px;
    -fx-min-height: 608px;
    -fx-spacing: 10px;
    -fx-padding: 16px 16px 25px 16px;
    -fx-background-color: transparent;
}

#textManejoDeMunicion {
    -fx-text-fill: #d8d8d8;
    -fx-font-size: 14px;
    -fx-font-family: "DIN Alternate";
    -fx-font-weight: bold;
    -fx-padding: 32px 0px 6px 0px;
}

#measureLabelCMS {
    -fx-pref-width: 268px;
    -fx-min-width: 268px;
    -fx-max-width: 268px;
    -fx-pref-height: 34px;
    -fx-max-height: 34px;
    -fx-min-height: 34px;
}

.menu-button {
    -fx-border-color: #606060;
    -fx-border-width: 1px;
    -fx-background-color: transparent;
    -fx-text-fill: #d8d8d8;
    -fx-font-family: "DIN Alternate";
    -fx-font-size: 14px;
    -fx-pref-height: 34px;
    -fx-min-height: 34px;
    -fx-max-height: 34px;
}

.menu-button .label {
    -fx-text-fill: #d8d8d8;
    -fx-font-family: "DIN Alternate";
    -fx-font-size: 18px;
}

.menu-button .menu-item {
    -fx-background-color: transparent;
    -fx-font-family: "DIN Alternate";
    -fx-text-fill: #d8d8d8;
    -fx-border-width: 0.5px;
    -fx-border-color: #606060;
    -fx-padding: 5px 5px 5px 5px;
}

.menu-button .menu-item:hover {
    -fx-background-color: #252525;
}

.menu-button .menu-item:pressed {
    -fx-background-color: #303030;
}

.menu-button .context-menu {
    -fx-background-color: #191919;

    -fx-pref-width: 243px;
    -fx-max-width: 243px;
    -fx-min-width: 243px
}

.menu-button .arrow-button {
}

.menu-button .arrow-button .arrow {
    -fx-image: "@sample/images/arrow-down-move.png";
}


