#labelWrapperCMS {
    -fx-spacing: 4px;
    -fx-background-color: #e4ecdf;
    -fx-pref-height: 54px;
    -fx-pref-width: 196px;
}

#titleLabelCMS {
    -fx-min-height: 16px;
    -fx-max-height: 16px;
    -fx-pref-height: 16px;
    -fx-min-width: 196px;
    -fx-max-width: 196px;
    -fx-pref-width: 196px;
    -fx-background-color: #ece2e2;
    -fx-font-size: 14px;
    -fx-font-family: "DIN Alternate";
    -fx-font-weight: bold;
    -fx-text-fill: #6bb72d;
}

#measureLabelCMS {
    -fx-pref-height: 34px;
    -fx-pref-width: 196px;
    -fx-background-color: #ece3e3;
    -fx-border-color: #4bb025;
    -fx-border-width: 1px;
    -fx-font-size: 18px;
    -fx-font-family: "DIN Alternate";
    -fx-font-weight: bold;
    -fx-text-fill: #a14d4d;
    -fx-padding: 4px 4px 4px 4px;
}